@media (max-width: 1115px) {
  .section1 {
    margin-bottom: 300px;
    img {
      width: 300px;
    }
    button {
      margin: 110px 0;
    }
  }

  .section2 {
    background-color: green;
    margin: 100px 0;
    .container1 {
    }

    .container2 {
      flex-wrap: wrap;
      margin-bottom: 200px;
    }
  }

  //   footer {
  //     width: auto;
  //     height: auto;
  //     background-color: green;
  //     .footer-container {
  //       width: unset;
  //       grid-template-columns: 1fr;
  //       grid-template-rows: repeat(4, 1fr);
  //       grid-template-areas: "f-div1" "f-div2" "f-div3" "f-div4";
  //     }

  //     .f-div1 {
  //       grid-area: f-div1;
  //     }

  //     .f-div2 {
  //       grid-area: f-div2;
  //     }
  //     .f-div3 {
  //       grid-area: f-div3;
  //     }
  //     .f-div4 {
  //       grid-area: f-div4;
  //     }
  //   }
}
