@media (max-width: 1115px) {
  .section1 {
    margin-bottom: 300px;
  }
  .section1 img {
    width: 300px;
  }
  .section1 button {
    margin: 110px 0;
  }
  .section2 {
    background-color: green;
    margin: 100px 0;
  }
  .section2 .container2 {
    flex-wrap: wrap;
    margin-bottom: 200px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: barlow;
  background-image: url(../img/deco1.png), url(https://s3-alpha-sig.figma.com/img/5e62/9250/ae47f7c8069b4507928c9be64373f068?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WMQNflLmBPC1TKyTcwRkaI6xpUxBNmXGmHo4LMAIMnwpTqFzEZHzyJaN2hgenAd1ko-sRn0ojkf74pFZKYdOVx9JjHejjUbdGOGuU90t8zlIzRgbWMHbMzO0aXxrtaTwTFj76KdYbPXtXawzzGI4NeItDNyqp4AzoygkIzJ5lQ3j~YMWm9G~ss3InytoDkSSCnTuLfPu90sGigsFp7zbBuK5fmzRZwK-j03NY41z4ePinKk3Y7WdPRaIH3WxO7THIaDqRSGUzjr~xHdmtaR5NtEXXixpqxtFBQwGODa6-THaN3r3v5KjcCeQx5FZCJOk0Ebspbr3q8zQOEFZs5hlEA__), url(https://s3-alpha-sig.figma.com/img/7646/5e06/9622537eb9e87abe582f1b783526ca32?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bfSxDfxcF~epIN2XpeZOTTOtt2TcHtShq2bsbTyP29rk99Ez3PKSNg75trYkUJMKPDnpjpfzBso2MjGGm59NSRfYjPbNLGREfPhhXEl1h~drZ9JnELrQNhijPrEgl9GR1TVYZyEwv4ZMgKaYxtgC4tw1aZ-tTlIWyNEIR8BH3NzZHd1KSuSIXyQgO0hxdFObpXNIlspoFAc6mxQQ~u9Rbxjd7YySH0D2455-T6FlqtHoNaNL4eXjzZ2VIEl2sspdRb509LxnmgMQKX3jHIKL7SPrnWKabwpPRBZ7vE2DK7ys3fWt-7fAoNjNVaRA7Mz0g-2f3a9-oeYqT-kLbmDLYA__), url(../img/Ellipse\ 1.png), url(https://s3-alpha-sig.figma.com/img/5e62/9250/ae47f7c8069b4507928c9be64373f068?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WMQNflLmBPC1TKyTcwRkaI6xpUxBNmXGmHo4LMAIMnwpTqFzEZHzyJaN2hgenAd1ko-sRn0ojkf74pFZKYdOVx9JjHejjUbdGOGuU90t8zlIzRgbWMHbMzO0aXxrtaTwTFj76KdYbPXtXawzzGI4NeItDNyqp4AzoygkIzJ5lQ3j~YMWm9G~ss3InytoDkSSCnTuLfPu90sGigsFp7zbBuK5fmzRZwK-j03NY41z4ePinKk3Y7WdPRaIH3WxO7THIaDqRSGUzjr~xHdmtaR5NtEXXixpqxtFBQwGODa6-THaN3r3v5KjcCeQx5FZCJOk0Ebspbr3q8zQOEFZs5hlEA__), linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(42, 42, 87) 100%, rgb(0, 212, 255) 100%);
  background-repeat: no-repeat;
  background-position: top right, 6% 10%, 30% 21%, 80% 35%, 30% 58%;
  color: #ffffff;
}
body a {
  text-decoration: none;
  color: #ffffff;
}
body ul {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div {
  display: flex;
  justify-content: space-between;
  width: 1110px;
}
header div ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

main {
  width: 100%;
  height: 747px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-div {
  width: 1110px;
  display: flex;
  justify-content: space-between;
}
main .main-div .awesome {
  width: 503px;
  height: 324px;
}
main .main-div .awesome h1 {
  font-size: 60px;
  height: 77px;
  font-weight: 300;
}
main .main-div .awesome p {
  color: #e8ab36;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
}
main .main-div .awesome span {
  color: #efefef;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 50px;
}
main .main-div .awesome .btn {
  display: flex;
  margin-top: 40px;
}
main .main-div .awesome .btn :nth-child(1) {
  background-color: #e6606c;
  border-style: none;
  width: 152px;
  height: 43px;
  border-radius: 75px;
  margin-right: 20px;
  cursor: pointer;
}
main .main-div .awesome .btn :nth-child(2) {
  background-color: #efefef;
  border-style: none;
  width: 152px;
  height: 43px;
  border-radius: 75px;
  cursor: pointer;
}

.section1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}
.section1 .lorem {
  width: 62px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #a0a0a0;
  margin-bottom: 10px;
}
.section1 h2 {
  width: 100%;
  height: 128px;
  color: #ffffff;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 20px;
}
.section1 p {
  width: 470px;
  height: 70px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 20px;
}
.section1 .h5 {
  width: 100%;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #a0a0a0;
  margin-bottom: 120px;
}
.section1 button {
  width: 152px;
  height: 43px;
  background-color: #e6606c;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 4.5%;
}

.section2 {
  width: 100%;
  height: 726px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2 .container1 {
  text-align: center;
  padding: 40px;
  margin-bottom: 50px;
}
.section2 .container1 .ipsum {
  color: #a0a0a0;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
}
.section2 .container1 h1 {
  width: 100%;
  height: 64px;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 20px;
}
.section2 .container1 .lorem-section {
  color: #a0a0a0;
}
.section2 .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .container2 .div1,
.section2 .container2 .div2,
.section2 .container2 .div3 {
  width: 370px;
  height: 432px;
  background-color: #2b2d66;
  margin: 10px;
  border-radius: 10px;
}
.section2 .container2 .div1 img,
.section2 .container2 .div2 img,
.section2 .container2 .div3 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.section2 .container2 .div1 div,
.section2 .container2 .div2 div,
.section2 .container2 .div3 div {
  padding: 20px;
}
.section2 .container2 .div1 div p,
.section2 .container2 .div2 div p,
.section2 .container2 .div3 div p {
  width: 306px;
  height: 64px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 40px;
}

footer {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  width: 998px;
  padding: 10px 0;
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr 1fr 100px;
}
footer .footer-container img {
  width: 90px;
  height: 20px;
}
footer .footer-container h1 {
  color: #a0a0a0;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 5px;
  margin-top: -10px;
}
footer .footer-container ul li {
  margin-bottom: 20px;
  cursor: pointer;
}
footer .footer-container .icone {
  display: flex;
  justify-content: space-between;
}
footer .footer-container .icone i {
  background-color: #6357f6;
  padding: 5px;
  margin: 2px;
  border-radius: 100%;
}
footer .footer-foot {
  width: 998px;
}
footer .footer-foot .hr {
  height: 1px;
  background-color: #484848;
  margin-bottom: 30px;
}
footer .footer-foot .foot {
  display: flex;
  justify-content: space-between;
  color: #a0a0a0;
}
footer .footer-foot .foot ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
footer .footer-foot .foot ul li {
  display: flex;
}